<%= provide(:title, 'show post') %>
<h2>picture detail</h2>
<div class ="row">
  <div class ="col-md-4">
    <div class ="card-left">
        <%= @post.content %>
        <%= image_tag @post.display_image, class: "card-image" %>
      </div>
  </div>
</div>
