<header class ="navbar navbar-fixed_top navbar-loght" style="background-color: #e3f2fd;">
  <div class ="container">
    <nav>
      <%= link_to "walker", '#', id: "logo" %>
      <ul class=" nav navbar-nav navbar-right">
        <li class="nav-item active">
          <%= link_to "Home", '#' %>
        </li>
        <li class="nav-item">
          <%= link_to "about", '#' %>
        </li>
        <li>
          <%= link_to "Sign Up", '#', class: "btn btn-sm btn-primary" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
